body {
    background-color: rgb(255, 159, 95);
    text-align: center;
}

.principal {
    width: 100vw;
    margin-top: 30vh;
}

.principal img {
    width: 200px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

.seccion {
    max-width: 900px;
    margin: 0 auto;
}

.image {
    border: 3px solid white;
    border-radius: 10px;
    height: 400px;
    box-shadow: 2px 3px gray;
    display: block;
    margin: 0 auto;
}

p {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}


.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #88888872;
}

.link-button:hover {
    background-color: rgb(44, 44, 44);
    color: white;
}

.button {
    margin-top: 20px;
}

nav {
    text-align: center;
    display: block;
    font-family: "Montserrat", sans-serif;
}

nav ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

nav ul li {
    float: left;

}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 20px;
}